include includes/head

.container
	canvas#myChart(width='800' height='400')



.container#content
	.columns
		#stock_list.column.is-4.is-offset-2
			if stocks
				each stock in stocks
					.card(id=stock)
						.card-header
							p.card-header-title= stock
							a.card-header-icon.delete_link
								span.icon
									i.fa.fa-times
		.column.is-4
			form#stock_form(action='/' method='post')
				label.label Stock:
				.control
					p.control
						input#stock_box.input(name='stock' type='text' placeholder='GOOGL' required)
					p.control
						input#submit.button.is-primary(type='submit' value='Search')
			br
			#flash_message		

script(src='../js/random-colors.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js')
script(src='../js/main.js')




