include includes/head

.container
	canvas#myChart(width='800' height='400')

.container
	.columns
		.column.is-4.is-offset-2
			if stocks
				each stock in stocks
					p= stock
		.column.is-4
			form(action='/' method='post')
				label.label Stock:
				.control
					p.control
						input.input(name='stock' type='text' placeholder='GOOGL' required)
					p.control
						input.button.is-primary(type='submit' value='Search')
script(src='../js/random-colors.js')
script.
	var stockPrices = '#{stockPrices}'
	var stockDate = '#{stockDate}'
	var stocks = '#{stocks}'
script(src='../js/chart.js')